/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif; 
    color: #3A3A3A;
    font-weight: bold;
}
/* header style */
.header-area{
    
    font-size: 24px;
    padding-left: 80px;
    margin-top: 50px;
}
/* ----------------
start journy style 
----------------------*/
.start-journy{
    display: flex;
   
}
.first-info{
    margin-left: 75px;
    width: 100%;
    margin-right: 200px;
    
    
}


   
.first-info h1{
   font-size: 45px;

}
.first-info p{
    font-size: 15px;
    font-weight: 600;
}

.span-tag{
    
    background-color: coral;
    display: inline;
    padding: 4px 15px;
    border-radius: 40px;
    
}
.span-tag:hover{
    background-color: rgb(247, 81, 52);
}
.span-tag a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.picture{
    width: 100%;
    margin-left: 180px;  
  overflow: hidden;
  padding-right: 40px;
}

.picture:hover img{
   
      transform: scale(1.6);
      transition: transform 1s;
}
.picture img{
    width: 84%;
   border-radius: 10px;
    
}
/* --------------------
popular collection style
----------------------- */
.center-tag{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}
.cam-picturs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin-left: 80px;
   
}
.cam-picture{
    background-color: white;
    padding: 20px 0;
    padding-left: 25px;
}
.cam-picture h2{
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0;
}
.cam-picture .price{
    font-weight: normal;
    font-size: 30px;
}
.rating{
    font-size: 12px;
}
.rating i{
    color: orange;

}
#gray{
    color: gray;
    margin-left: 17px;

}
.cam-picture p{
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}
.pic-info{
    margin: 25px;
    box-shadow: 2px 10px 50px #aaaa;
}
.arrow{
    text-align:right;
    margin-right: 80px;
}
.arrow a{
    text-decoration: none;
    color: rgb(247, 81, 52);
    font-size: 13px;
    
}